main {
  font-family: Arial, Helvetica, sans-serif;
  justify-self: center;
  width: 100%;
}
header {
  display: flex;
  /* justify-content bruger jeg for at align vandret*/
  justify-content: space-between;
  background: #007782;
}
header a {
  color: whitesmoke;
  /* det betydeer at jeg fjerner understregning af et ord */
  text-decoration: none;
  padding: 15px;
}
.vinted {
  display: flex;
}
.topnav {
  display: flex;
  justify-content: space-between;
}
#myTopnav {
  width: 100%;
}
iframe {
  margin: 0;
}
h2 {
  display: flex;
  /* justify-content bruger jeg for at align vandret*/
  justify-content: space-between;
  color: #007782;
}
.vinted-footer-boks {
  background-color: red;
}
.discover-footer-boks {
  background-color: blue;
}
.hjælpecenter-footer-boks {
  background-color: green;
}
.tekstboks {
  margin: 15px;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
  /*display: flex;
  align-items: flex-start;*/
}
.karrusel {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
  border-radius: 0;
}

.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-track img {
  width: 700px;
  height: 400px;
  object-fit: cover;
}
.arrow {
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 12px 18px;
  cursor: pointer;
  font-size: 28px;
  border-radius: 50%;
  user-select: none;
  transition: 0.3s;
  z-index: 10;
}

.arrow:hover {
  background: rgba(255, 255, 255, 1);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
